kbd ,
kbd code,
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary, 
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus, 
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.panel-default > .panel-heading .badge
{
  background-color: #008272;
}

.btn-default {
  color: #555;
}

.navbar-inverse .navbar-toggle {
  border-color: #008272;
} 

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,                 
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,                 
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  color: #000;
}

pre,
pre code,
.btn:hover,
.btn:focus,
.btn.focs,
.thumbnail .caption,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-link:hover, 
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus,
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading,
.panel-default > .panel-heading
{
  color: #008272;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: #fff; 
}

.cursor-pointer {
  cursor:pointer;
}

.table th {
    background-color:#E5E5E5;
}

.table th.sortable {
    cursor:pointer;
}

.alert-group > .alert {
    padding: 10px;
}

.alert-group > .alert > .glyphicon {
    margin-right: 5px;
}

.alert-group > .alert:not(:last-child) {
    margin-bottom: 0px;
}

.alert-group > .alert:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.alert-group > .alert:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert-group > .alert:not(:first-child):not(:last-child) {
    border-radius: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #aaaaaa;
    color: #666666;
    background-color: #e5e5e5;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li.active > a {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a {
    color: #666666;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
}

.navbar-nav > .active > a:after, 
.navbar-nav > .active > a:focus:after, 
.navbar-nav > .active > a:hover:after,
.navbar-nav a:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: ' ';
  width: 90%;
  background: #008272;
  height: 3px;
}

.btn-group-primary .btn:not(.btn-primary) {
    background-color: #EEE;
}

.btn-group > .dropdown {
    float: left
}

.btn-toolbar-group .btn{
  border: 0px;
}

.btn-group > .dropdown:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .dropdown:first-child:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .dropdown:last-child:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.caret {
    margin-left: 5px !important;
}

.caret-up {
    border-top: 0;
    border-bottom: 5px dashed;
    border-bottom: 5px solid \9;
}
.caret-left {
    border-left: 0px;
    border-right: 5px dashed;
    border-right: 5px solid \9;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.caret-right {
    border-left: 5px dashed;
    border-left: 5px solid \9;
    border-right: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.dropdown-menu > li.fake-a {
    padding: 3px 20px;
}

.dropdown-menu > li .glyphicon {
  width: 12px;
}
  
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.glyphicon {
    margin-right: 6px;
}

.badge {
    color: red !important;
    font-size: 75%;
}

.btn-group-primary .badge {
    background-color: #EEE !important;
}

.inline-pager {
  margin: 0px;
}

.dropdown-menu > li .inline-pager {
  padding-left: 20px;
  padding-right: 20px;
}

.inline-pager li > a, 
.inline-pager li > span, {
  padding-top: 3px;
  padding-bottom: 3px;
}

.inline-pager li > a,
.pager li > a {
  color: #008272;
}

table th > input[type="checkbox"],
table th > input[type="radio"],
table tr > input[type="checkbox"],
table tr > input[type="radio"] {
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    margin: 10px;
}

.container {
  width: 1600px;
}


ul.collapse > li {
  display: block;
}

ul.tree {
  padding: 5px 20px;
}

ul.tree > li {
  padding: 2px 0px;
}

ul.collapse > li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 11px;
  float: left;
  margin-top: 2px;
  margin-left: -15px;
  color: #008272;
}


ul> li.leaf-node:before,
ul.collapse > li.leaf-node:before {
  content: none;
}

